In [125]:
import pandas as pd

In [126]:
df_items = pd.read_csv('C:/Users/Oktyabrina/Desktop/webscraper/product.csv')
df_review = pd.read_csv('C:/Users/Oktyabrina/Desktop/webscraper/review.csv')

In [127]:
data_dict = {
    '–°–µ–≥–æ–¥–Ω—è': '09 –∏—é–ª—è',
    '–í—á–µ—Ä–∞': '08 –∏—é–ª—è'
}

In [128]:
for old_value,new_value in data_dict.items():
    df_review['–î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞']=df_review['–î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞'].str.replace(old_value,new_value, regex=True)

In [129]:
df_review[['–¥–∞—Ç–∞','–≤—Ä–µ–º—è']] = df_review['–î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞'].str.replace(' ‚Ä¢ –î–æ–ø–æ–ª–Ω–µ–Ω','').str.split(',', expand=True)
df_review[['day','month','year']]=df_review['–¥–∞—Ç–∞'].str.split(expand=True)
df_review['year']=df_review['year'].fillna(2025)

In [130]:
df_review['–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥']=df_review['–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥'].str.replace('star','')

In [131]:
df_review = df_review.iloc[1:]

In [132]:
df_review['–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞']=df_review['–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞'].fillna('–ù–µ–∏–∑–≤–µ—Å—Ç–Ω–æ')

In [133]:
df_review.to_excel('review.xlsx',
                  sheet_name='Sheet1')

In [134]:
df_review.head(5)

,–ê–≤—Ç–æ—Ä,–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞,–î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞,–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥,–¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞,–ê—Ä—Ç–∏–∫—É–ª,–¥–∞—Ç–∞,–≤—Ä–µ–º—è,day,month,year
1,–ü–æ–∫—É–ø–∞—Ç–µ–ª—å Wildberries,–í—ã–∫—É–ø–∏–ª–∏,"09 –∏—é–ª—è, 15:26",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–ü—Ä–æ—Å—Ç–æ –ø–æ–Ω—Ä–∞–≤–∏–ª–∞—Å—å.,24716555.0,09 –∏—é–ª—è,15:26,09,–∏—é–ª—è,2025
2,–û–ª—å–≥–∞,–í—ã–∫—É–ø–∏–ª–∏,"09 –∏—é–ª—è, 15:16",5,–•–æ—Ä–æ—à–∞—è,24716555.0,09 –∏—é–ª—è,15:16,09,–∏—é–ª—è,2025
3,–°–≤–µ—Ç–ª–∞–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"07 –∏—é–ª—è, 20:44",5,"–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–î–∞–≤–Ω–æ –ø–æ–ª—å–∑—É–µ–º—Å—è —ç—Ç–æ–π –ø–∞—Å—Ç–æ–π, –æ—á–µ–Ω...",24716555.0,07 –∏—é–ª—è,20:44,07,–∏—é–ª—è,2025
4,–¢–∞—Ç—å—è–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"07 –∏—é–ª—è, 13:07",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–•–æ—Ä–æ—à–∞—è –ø–∞—Å—Ç–∞,24716555.0,07 –∏—é–ª—è,13:07,07,–∏—é–ª—è,2025
5,–ú–∞—Ä–∏–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"07 –∏—é–ª—è, 06:34",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–•–æ—Ä–æ—à–∞—è –∑—É–±–Ω–∞—è –ø–∞—Å—Ç–∞.. –ü–æ—Å–æ–≤–µ—Ç–æ–≤–∞–ª...,24716555.0,07 –∏—é–ª—è,06:34,07,–∏—é–ª—è,2025

–ù–µ–æ–±—Ö–æ–¥–∏–º–æ —É–¥–∞–ª–∏—Ç—å —Å—Ç–æ–ª–±—Ü—ã –î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞ –∏ –¥–∞—Ç–∞, —Ç–∞–∫ –∫–∞–∫ —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ –µ—Å—Ç—å –≤ –¥—Ä—É–≥–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö

In [135]:
df_review = df_review.drop(['–î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞','–¥–∞—Ç–∞'], axis=1)

In [137]:
df_review.shape

(645, 9)

In [142]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   –ê–≤—Ç–æ—Ä          645 non-null    object
 1   –°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞  645 non-null    object
 2   –ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥   645 non-null    int32
 3   –¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞   641 non-null    object
 4   –ê—Ä—Ç–∏–∫—É–ª        645 non-null    float64
 5   –≤—Ä–µ–º—è          645 non-null    object
 6   day            645 non-null    object
 7   month          645 non-null    object
 8   year           645 non-null    object
dtypes: float64(1), int32(1), object(7)
memory usage: 43.0+ KB

–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –º–Ω–æ–≥–∏—Ö –ø–æ–ª–µ–π object, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∑–∞–¥–∞—Ç—å —á–∏—Å–ª–æ–≤—ã–µ —Ç–∏–ø—ã

In [146]:
print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ –ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥: {df_review['–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥'].unique()}")
print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ day: {df_review['day'].unique()}")
print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ year: {df_review['year'].unique()}")

–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ –ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥: [5 4 3 1 2]
–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ day: ['09' '07' '06' '05' '04' '03' '02' '01' '30' '28' '27' '26' '24' '19'
 '16' '25' '23' '22' '21' '20' '18' '17' '14' '13' '12' '10' '08' '29'
 '11' '31' '15']
–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ year: [2025 '2024' '2023' '2022']

In [ ]:
df_review=df_review.astype({'–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥': int,
                            'day': int,
                            'year': int,
                            '–ê—Ä—Ç–∏–∫—É–ª': int
                            })

In [148]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   –ê–≤—Ç–æ—Ä          645 non-null    object
 1   –°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞  645 non-null    object
 2   –ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥   645 non-null    int32
 3   –¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞   641 non-null    object
 4   –ê—Ä—Ç–∏–∫—É–ª        645 non-null    int32
 5   –≤—Ä–µ–º—è          645 non-null    object
 6   day            645 non-null    int32
 7   month          645 non-null    object
 8   year           645 non-null    int32
dtypes: int32(4), object(5)
memory usage: 35.4+ KB

In [149]:
df_review.isna().sum()

–ê–≤—Ç–æ—Ä            0
–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞    0
–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥     0
–¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞     4
–ê—Ä—Ç–∏–∫—É–ª          0
–≤—Ä–µ–º—è            0
day              0
month            0
year             0
dtype: int64

In [150]:
df_review.nunique()

–ê–≤—Ç–æ—Ä            148
–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞      3
–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥       5
–¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞     622
–ê—Ä—Ç–∏–∫—É–ª           15
–≤—Ä–µ–º—è            500
day               31
month             12
year               4
dtype: int64

In [152]:
df_review['–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞'].value_counts(ascending=True)

–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞
–û—Ç–∫–∞–∑–∞–ª–∏—Å—å     20
–ù–µ–∏–∑–≤–µ—Å—Ç–Ω–æ     91
–í—ã–∫—É–ø–∏–ª–∏      534
Name: count, dtype: int64

In [151]:
df_review.loc[:,df_review.columns!='–ê—Ä—Ç–∏–∫—É–ª'].describe()

       –ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥         day         year
count    645.000000  645.000000   645.000000
mean       4.582946   16.181395  2024.728682
std        1.044664    8.930353     0.481843
min        1.000000    1.000000  2022.000000
25%        5.000000    8.000000  2024.000000
50%        5.000000   16.000000  2025.000000
75%        5.000000   24.000000  2025.000000
max        5.000000   31.000000  2025.000000

In [153]:
df_review.describe(include=["object", "bool"])

,–ê–≤—Ç–æ—Ä,–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞,–¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞,–≤—Ä–µ–º—è,month
count,645,645,641,645,645
unique,148,3,622,500,12
top,–ü–æ–∫—É–ø–∞—Ç–µ–ª—å Wildberries,–í—ã–∫—É–ø–∏–ª–∏,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–•–æ—Ä–æ—à–∏–π –æ–ø–æ–ª–∞—Å–∫–∏–≤–∞—Ç–µ–ª—å,21:20,–º–∞—Ä—Ç–∞
freq,86,534,6,4,90

In [16]:
df_review

,–ê–≤—Ç–æ—Ä,–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞,–î–∞—Ç–∞ –æ—Ç–∑—ã–≤–∞,–ö–æ–ª-–≤–æ –∑–≤–µ–∑–¥,–¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞,–ê—Ä—Ç–∏–∫—É–ª,–¥–∞—Ç–∞,–≤—Ä–µ–º—è,day,month,year
1,–ü–æ–∫—É–ø–∞—Ç–µ–ª—å Wildberries,–í—ã–∫—É–ø–∏–ª–∏,"09 –∏—é–ª—è, 15:26",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–ü—Ä–æ—Å—Ç–æ –ø–æ–Ω—Ä–∞–≤–∏–ª–∞—Å—å.,24716555.0,09 –∏—é–ª—è,15:26,09,–∏—é–ª—è,2025
2,–û–ª—å–≥–∞,–í—ã–∫—É–ø–∏–ª–∏,"09 –∏—é–ª—è, 15:16",5,–•–æ—Ä–æ—à–∞—è,24716555.0,09 –∏—é–ª—è,15:16,09,–∏—é–ª—è,2025
3,–°–≤–µ—Ç–ª–∞–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"07 –∏—é–ª—è, 20:44",5,"–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–î–∞–≤–Ω–æ –ø–æ–ª—å–∑—É–µ–º—Å—è —ç—Ç–æ–π –ø–∞—Å—Ç–æ–π, –æ—á–µ–Ω...",24716555.0,07 –∏—é–ª—è,20:44,07,–∏—é–ª—è,2025
4,–¢–∞—Ç—å—è–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"07 –∏—é–ª—è, 13:07",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–•–æ—Ä–æ—à–∞—è –ø–∞—Å—Ç–∞,24716555.0,07 –∏—é–ª—è,13:07,07,–∏—é–ª—è,2025
5,–ú–∞—Ä–∏–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"07 –∏—é–ª—è, 06:34",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:–•–æ—Ä–æ—à–∞—è –∑—É–±–Ω–∞—è –ø–∞—Å—Ç–∞.. –ü–æ—Å–æ–≤–µ—Ç–æ–≤–∞–ª...,24716555.0,07 –∏—é–ª—è,06:34,07,–∏—é–ª—è,2025
...,...,...,...,...,...,...,...,...,...,...,...
641,–ü–æ–∫—É–ø–∞—Ç–µ–ª—å Wildberries,–ù–µ–∏–∑–≤–µ—Å—Ç–Ω–æ,"12 –æ–∫—Ç—è–±—Ä—è 2024, 16:03 ‚Ä¢ –î–æ–ø–æ–ª–Ω–µ–Ω",5,"–û—Ç–ø—Ä–∞–≤–∏–ª–∞ –æ–æ—Ç–∑—ã–≤ –Ω–µ –Ω–∞ —Ç–æ—Ç —Ç–æ–≤–∞—Ä, –Ω–µ –∑–Ω–∞—é –∫–∞–∫ ...",212876972.0,12 –æ–∫—Ç—è–±—Ä—è 2024,16:03,12,–æ–∫—Ç—è–±—Ä—è,2024
642,–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞,–ù–µ–∏–∑–≤–µ—Å—Ç–Ω–æ,"13 –∞–ø—Ä–µ–ª—è 2024, 12:27",5,–µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω—ã–π –æ–ø–æ–ª–∞—Å–∫–∏–≤–∞—Ç–µ–ª—å. –ø–æ—Å–ª–µ –∫—Ç—Ä –Ω–µ —Ö–æ—á–µ...,212876972.0,13 –∞–ø—Ä–µ–ª—è 2024,12:27,13,–∞–ø—Ä–µ–ª—è,2024
643,–ü–æ–∫—É–ø–∞—Ç–µ–ª—å Wildberries,–ù–µ–∏–∑–≤–µ—Å—Ç–Ω–æ,"08 –∞–ø—Ä–µ–ª—è 2024, 05:14",5,"–î–æ—Å—Ç–∞–≤–∫–∞ –¥–æ–ª–≥–æ, –Ω–æ –≤—Å–µ –Ω–æ—Ä–º. –•–æ—Ä–æ—à–∏–π —Ç–æ–≤–∞—Ä. –ü—Ä...",212876972.0,08 –∞–ø—Ä–µ–ª—è 2024,05:14,08,–∞–ø—Ä–µ–ª—è,2024
644,–í–∞–ª–µ–Ω—Ç–∏–Ω–∞,–û—Ç–∫–∞–∑–∞–ª–∏—Å—å,"11 —è–Ω–≤–∞—Ä—è, 14:44",1,–ù–µ–¥–æ—Å—Ç–∞—Ç–∫–∏:–†–∞–∑–æ—Ä–≤–∞–Ω–∞ –Ω–µ —Ç–æ–ª—å–∫–æ –∑–∞–≤–æ–¥—Å–∫–∞—è —É–ø–∞–∫–æ...,227510622.0,11 —è–Ω–≤–∞—Ä—è,14:44,11,—è–Ω–≤–∞—Ä—è,2025
645,–ú–∞–¥–∏–Ω–∞,–í—ã–∫—É–ø–∏–ª–∏,"16 –Ω–æ—è–±—Ä—è 2024, 10:11",5,–î–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–∞:üëçüèª –±—É–¥—É –∑–∞–∫–∞–∑—ã–≤–∞—Ç—å –µ—â—ë,227510622.0,16 –Ω–æ—è–±—Ä—è 2024,10:11,16,–Ω–æ—è–±—Ä—è,2024