In [125]:
import pandas as pd

In [126]:
df_items = pd.read_csv('C:/Users/Oktyabrina/Desktop/webscraper/product.csv')
df_review = pd.read_csv('C:/Users/Oktyabrina/Desktop/webscraper/review.csv')

In [127]:
data_dict = {
    'Сегодня': '09 июля',
    'Вчера': '08 июля'
}

In [128]:
for old_value,new_value in data_dict.items():
    df_review['Дата отзыва']=df_review['Дата отзыва'].str.replace(old_value,new_value, regex=True)

In [129]:
df_review[['дата','время']] = df_review['Дата отзыва'].str.replace(' • Дополнен','').str.split(',', expand=True)
df_review[['day','month','year']]=df_review['дата'].str.split(expand=True)
df_review['year']=df_review['year'].fillna(2025)

In [130]:
df_review['Кол-во звезд']=df_review['Кол-во звезд'].str.replace('star','')

In [131]:
df_review = df_review.iloc[1:]

In [132]:
df_review['Статус заказа']=df_review['Статус заказа'].fillna('Неизвестно')

In [133]:
df_review.to_excel('review.xlsx',
                  sheet_name='Sheet1')

In [134]:
df_review.head(5)

,Автор,Статус заказа,Дата отзыва,Кол-во звезд,Текст отзыва,Артикул,дата,время,day,month,year
1,Покупатель Wildberries,Выкупили,"09 июля, 15:26",5,Достоинства:Просто понравилась.,24716555.0,09 июля,15:26,09,июля,2025
2,Ольга,Выкупили,"09 июля, 15:16",5,Хорошая,24716555.0,09 июля,15:16,09,июля,2025
3,Светлана,Выкупили,"07 июля, 20:44",5,"Достоинства:Давно пользуемся этой пастой, очен...",24716555.0,07 июля,20:44,07,июля,2025
4,Татьяна,Выкупили,"07 июля, 13:07",5,Достоинства:Хорошая паста,24716555.0,07 июля,13:07,07,июля,2025
5,Марина,Выкупили,"07 июля, 06:34",5,Достоинства:Хорошая зубная паста.. Посоветовал...,24716555.0,07 июля,06:34,07,июля,2025

Необходимо удалить столбцы Дата отзыва и дата, так как эти данные есть в других столбцах

In [135]:
df_review = df_review.drop(['Дата отзыва','дата'], axis=1)

In [137]:
df_review.shape

(645, 9)

In [142]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Автор          645 non-null    object
 1   Статус заказа  645 non-null    object
 2   Кол-во звезд   645 non-null    int32
 3   Текст отзыва   641 non-null    object
 4   Артикул        645 non-null    float64
 5   время          645 non-null    object
 6   day            645 non-null    object
 7   month          645 non-null    object
 8   year           645 non-null    object
dtypes: float64(1), int32(1), object(7)
memory usage: 43.0+ KB

Типы данных многих полей object, необходимо задать числовые типы

In [146]:
print(f"Уникальные значения столбца Кол-во звезд: {df_review['Кол-во звезд'].unique()}")
print(f"Уникальные значения столбца day: {df_review['day'].unique()}")
print(f"Уникальные значения столбца year: {df_review['year'].unique()}")

Уникальные значения столбца Кол-во звезд: [5 4 3 1 2]
Уникальные значения столбца day: ['09' '07' '06' '05' '04' '03' '02' '01' '30' '28' '27' '26' '24' '19'
 '16' '25' '23' '22' '21' '20' '18' '17' '14' '13' '12' '10' '08' '29'
 '11' '31' '15']
Уникальные значения столбца year: [2025 '2024' '2023' '2022']

In [ ]:
df_review=df_review.astype({'Кол-во звезд': int,
                            'day': int,
                            'year': int,
                            'Артикул': int
                            })

In [148]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Автор          645 non-null    object
 1   Статус заказа  645 non-null    object
 2   Кол-во звезд   645 non-null    int32
 3   Текст отзыва   641 non-null    object
 4   Артикул        645 non-null    int32
 5   время          645 non-null    object
 6   day            645 non-null    int32
 7   month          645 non-null    object
 8   year           645 non-null    int32
dtypes: int32(4), object(5)
memory usage: 35.4+ KB

In [149]:
df_review.isna().sum()

Автор            0
Статус заказа    0
Кол-во звезд     0
Текст отзыва     4
Артикул          0
время            0
day              0
month            0
year             0
dtype: int64

In [150]:
df_review.nunique()

Автор            148
Статус заказа      3
Кол-во звезд       5
Текст отзыва     622
Артикул           15
время            500
day               31
month             12
year               4
dtype: int64

In [152]:
df_review['Статус заказа'].value_counts(ascending=True)

Статус заказа
Отказались     20
Неизвестно     91
Выкупили      534
Name: count, dtype: int64

In [151]:
df_review.loc[:,df_review.columns!='Артикул'].describe()

       Кол-во звезд         day         year
count    645.000000  645.000000   645.000000
mean       4.582946   16.181395  2024.728682
std        1.044664    8.930353     0.481843
min        1.000000    1.000000  2022.000000
25%        5.000000    8.000000  2024.000000
50%        5.000000   16.000000  2025.000000
75%        5.000000   24.000000  2025.000000
max        5.000000   31.000000  2025.000000

In [153]:
df_review.describe(include=["object", "bool"])

,Автор,Статус заказа,Текст отзыва,время,month
count,645,645,641,645,645
unique,148,3,622,500,12
top,Покупатель Wildberries,Выкупили,Достоинства:Хороший ополаскиватель,21:20,марта
freq,86,534,6,4,90

In [16]:
df_review

,Автор,Статус заказа,Дата отзыва,Кол-во звезд,Текст отзыва,Артикул,дата,время,day,month,year
1,Покупатель Wildberries,Выкупили,"09 июля, 15:26",5,Достоинства:Просто понравилась.,24716555.0,09 июля,15:26,09,июля,2025
2,Ольга,Выкупили,"09 июля, 15:16",5,Хорошая,24716555.0,09 июля,15:16,09,июля,2025
3,Светлана,Выкупили,"07 июля, 20:44",5,"Достоинства:Давно пользуемся этой пастой, очен...",24716555.0,07 июля,20:44,07,июля,2025
4,Татьяна,Выкупили,"07 июля, 13:07",5,Достоинства:Хорошая паста,24716555.0,07 июля,13:07,07,июля,2025
5,Марина,Выкупили,"07 июля, 06:34",5,Достоинства:Хорошая зубная паста.. Посоветовал...,24716555.0,07 июля,06:34,07,июля,2025
...,...,...,...,...,...,...,...,...,...,...,...
641,Покупатель Wildberries,Неизвестно,"12 октября 2024, 16:03 • Дополнен",5,"Отправила оотзыв не на тот товар, не знаю как ...",212876972.0,12 октября 2024,16:03,12,октября,2024
642,Екатерина,Неизвестно,"13 апреля 2024, 12:27",5,единственный ополаскиватель. после ктр не хоче...,212876972.0,13 апреля 2024,12:27,13,апреля,2024
643,Покупатель Wildberries,Неизвестно,"08 апреля 2024, 05:14",5,"Доставка долго, но все норм. Хороший товар. Пр...",212876972.0,08 апреля 2024,05:14,08,апреля,2024
644,Валентина,Отказались,"11 января, 14:44",1,Недостатки:Разорвана не только заводская упако...,227510622.0,11 января,14:44,11,января,2025
645,Мадина,Выкупили,"16 ноября 2024, 10:11",5,Достоинства:👍🏻 буду заказывать ещё,227510622.0,16 ноября 2024,10:11,16,ноября,2024